body {
	font: 14px verdana, serif;
	letter-spacing: 2px;
}

h1, h2 {
	font-weight: normal;
	letter-spacing: 3px;
}

h1 {
	font-size: 42px;
	margin: 20px auto;
	width: 500px;
	text-align: center;
}

h2 {
	font-size: 22px;
}

section div {
	margin: 20px auto;
}
